@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

@import "tailwindcss";

body {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.3px;
    background-color: #F9F8F4;
    
}


